<h2> Log into your Account </h2>

<form action='/login' method='post'>

<label>Username:</label>
<input type="text" name="username" placeholder="Username"><br>

<label>Password:</label>
<input type="text" name="password" placeholder="Password"><br>

<input type="submit" id="submit" value="Log In">
</form>