<h1 style="color:purple;">Welcome to the Clouds Diary!</h1>
<h4> Clouds Diary helps keep track of all the places you have visited for vacation!</h4>
<br>
<p> To start keeping track of your own beautiful travel journey, please login or signup!</p>
<br>
<a href="/login">Login</a> or <a href="/signup">Signup</a>


