<h1 style="color:purple;">Welcome to the Dream Clouds App!</h1>
<h4>Dream Clouds tracks of all the places you have visited while traveling</h4>
<br>
<p> To start keeping track of your own beautiful travel journey, please login or signup!</p>
<br>
<a href="/login">Login</a> or <a href="/signup">Signup</a>


